---
{
  "hostname": "hostname",
  "search_domains": [
    "home.arpa",
    "local"
  ],
  "sshd_command": {
    "command": "principals",
    "complete_user": false,
    "hostname": false,
    "tokens": "%U %u",
    "version": "0.3.0"
  }
}
---
# Arguments: 1000 user

{% macro principals(fqdn) -%}
{{ fqdn }}
{{ user.name }}@{{ fqdn }}
{%- endmacro principals -%}

{{- self::principals(fqdn=hostname) }}
{% for search_domain in search_domains  %}
{{- self::principals(fqdn=hostname ~ "." ~ search_domain) }}
{%  endfor -%}
