---
{
  "hostname": "hostname",
  "search_domains": [
    "home.arpa",
    "local"
  ],
  "sshd_command": {
    "command": "principals",
    "complete_user": false,
    "hostname": false,
    "tokens": "%U %u",
    "version": "0.4.0"
  }
}
---
# Arguments: 1000 user

{{ hostname }}
{{ user.name }}@{{ hostname }}
{%- for search_domain in search_domains %}
{{ hostname ~ "." ~ search_domain }}
{{ user.name }}@{{ hostname ~ "." ~ search_domain }}
{%- endfor %}
