---
sshd_command:
    version: 0.4.0
    command: principals
    tokens: '%U %u'
    hostname: false
    complete_user: false
hostname: hostname
search_domains:
    - home.arpa
    - local
---
# Arguments: 1000 user

{{ hostname }}
{{ user.name }}@{{ hostname }}
{%- for search_domain in search_domains %}
{{ hostname ~ "." ~ search_domain }}
{{ user.name }}@{{ hostname ~ "." ~ search_domain }}
{%- endfor %}
